{% extends "base/theme.html" %}


{% block main_content %}

<h1 class="text-center">Startups</h1>


<table class="table table-hover">
	<thead>
		<td><b>#</b></td>
		<td><b>Name</b></td>
		<td><b>Description</b></td>
		<td><b>Address</b></td>
		<td><b></b></td>
		
	</thead>
{% for startup in object_list %}
<tr>
	<td> {{ startup.id }}</td>
	<td class="td-width"><a href="{% url 'startup_detail' pk=startup.id %}">{{ startup.title }}</a></td>
	<td class="td-width"><p>{{ startup.description }}<p></td>
	<td class="td-width">{{ startup.address }}</td>
	<td class><a type="button" href="{% url 'startup_update' pk=startup.id %}" class="btn btn-default pull-right"><i class="fa fa-pencil-square-o"></a></td>
	<td class><a type="button" href="{% url 'startup_delete' pk=startup.id %}" class="btn btn-default pull-right"><i class="fa fa-times"></a></td>	
</tr>

{% endfor %}
</table>



{% endblock %}

